/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
/* FONTS */

/* RESET */
* {
    padding: 0;
    margin: 0;
    border: 0;
}
*,*:before,*:after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/* /RESET */

/* COMMON STYLE*/
body {
    background-color: #fbfafa;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

[class*="__container"] {
    max-width: 1050px;
    padding: 0 15px;
    margin: 0 auto;
}

.label__item {
    position: relative;
}
/* /COMMON STYLE*/
/* HEADER */
.header {
    padding: 15px 0 11px 0;
    margin-bottom: 30px;
    text-align: center;
    background-color: #617088;
    border-bottom: 1px solid #c2c7d0;
}
.header__title {
    font-size: 20px;
    line-height: 1.2;
    color: #ffffff;
}
/* /HEADER */

/* MAIN */
.main {
}
.main__container {
    max-width: 970px;
}
.main__title {
    margin-bottom: 30px;
    font-size: 27px;
    line-height: 1.2;
    color: #617189;
    text-transform: uppercase;
    text-align: center;
}

/* /MAIN */


/* CALCULATOR */
.calculator {
    position: relative;
    padding-left: 18px;
    padding-top: 35px;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #e6e5e5;
}
.calculator__item {
}

.calculator__reset {
    position: relative;
    top: 42px;
    right: 9px;
    display: block;
    width: 14px;
    height: 23px;
    cursor: pointer;
}

.calculator__reset:before,
.calculator__reset:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 23px;
    width: 1px;
    background-color: #d4d3d2;
}
.calculator__reset:before {
    transform: rotate(45deg);
}
.calculator__reset:after {
    transform: rotate(-45deg);
}
/* /CALCULATOR */

/* ITEM */
.item {
    flex: 0 1 107px;
    text-align: center;
}
.item_big {
    position: relative;
    flex: 0 1 191px;
}
.item__label {
    display: block;
    margin-bottom: 20px;
    font-size: 11px;
    line-height: 1.2;
    color: #617189;
}
.item__input {
    width: 100%;
    height: 43px;
    border: 1px solid #e7e8e7;
    border-radius: 10px;
    text-align: center;
}
.item__counter {
    position: relative;
    background-color: #fff;
    border: 1px solid #e7e8e7;
    border-radius: 10px;
}
.item__input_counter {
    width: 55px;
    border: none;
    text-align: center;
}
.item__button {
    position: absolute;
    top: 0;
    height: 100%;
    width: 15px;
    background-color: #fff;
    font-size: 17px;
    line-height: 1.2;
    color: #6d6d6f;
    border-radius: 11px;
}
.item__button_plus {
    right: 0;
    padding-right: 15px;
}

.item__button_minus {
    left: 0;
    padding-left: 15px;
}

.item__result {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    font-size: 21px;
    line-height: 1.2;
    color: #1e1e1c;
}
.item__result::after {
    content: '\a0₽';
}
/* /ITEM */

/* SELECT */
.item__select {
}
.select {
    background-color: #fff;
}
.select__header {
    display: flex;
    align-items: center;
    height: 40px;
    border: 1px solid #e7e8e7;
    border-radius: 10px;
}
.select__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 53px;
}
.select__text {
    flex: 1 1 auto;
    font-size: 11px;
    line-height: 1.2;
    color: #1e1e1c;
    margin-right: 12px;;
}
.select__button {
    border-left: 1px solid #e7e8e7;
    flex: 0 1 37px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 0 10px 10px 0;
    z-index: 10;
}

.select__button > img {
}

.select__options {
    display: none;
    flex-direction: column;
}

.select__option {
}

/* /SELECT */
/* OPTION */
.option {
    display: flex;
    align-items: center;
    height: 40px;
}
.option:hover {
    cursor: pointer;
    background-color: #d0d4db;
}
.option__icon {
    padding-left: 1px;
    display: flex;
    justify-content: center;
    width: 53px;
}

/* /OPTION */

/* HINT */
.hint {
    position: absolute;
}
.hint_form {}
.hint_processing {

}

.hint__title {
    margin-bottom: 9px;
    font-size: 11px;
    line-height: 1.2;
    font-weight: 600;
    color: #617188;
}
.hint__body {
    display: none;
    position: absolute;
    left: 0;
    top: -128px;
    padding: 15px 22px 10px 16px;
    width: 252px;
    flex-direction: column;
    align-items: flex-start;
    background-color: #fff;
    border-radius: 5px;
}
.hint_big {
    width: 330px;
    top: -140px;
}
.hint__list_big {
    margin-bottom: 10px;
}
.hint_big .hint__item {
 max-width: 285px;
}
.hint__list {
    font-size: 11px;
    line-height: 17px;
    font-weight: 400;
    color: #617189;
}
.hint__item {
    position: relative;
    max-width: 170px;
    text-align: left;
}
.hint__item:not(:last-child) {
    margin-bottom: 6px;
}
.hint__item::before {
    display: inline-block;
    margin-right: 6px;
    width: 5px;
    height: 5px;
    top: 0;
    left: 0;
    content: ' ';
    background-color: #617189;
    border-radius: 50%;
}

.hint__link {
    font-size: 11px;
    line-height: 17px;
    font-weight: 400;
    text-decoration: underline;
    color: #617189;
    align-self: flex-end;
}
/* /HINT */

/* POPUP */
.popup {
    position: absolute;
    width: 188px;
    height: 49px;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 125px;
    left: 30px;
    background-color: #fff;
    box-shadow: 0 4px 10px 0 rgba(30,30,30,0.34);
    border-radius: 10px;
    transition: opacity 0.3s ease 0s;
    opacity: 0;
}

.popup::after {
    content: '\25B2';
    position: absolute;
    top: -10px;
    left: 50%;
    color: #fff;
    width: 5px;
    height: 5px;
}


.popup__img {
    margin-right: 12px;
    width: 17px;
    height: 17px;
}

.popup__text {
    font-size: 15px;
    line-height: 1.2;
    color: #1e1e1c;
    font-weight: 600;
}
/* /POPUP */
.no-value {
    border: 1px solid red;
}

.open {
    display: flex;
}